
.journal__main{
    min-height: 100%;
}

.journal__container{
    color: $light-gray;
    background-color: $primary;
}

.journal__sidebar{
    color: $light-gray;
    background-color: $dark-gray;
}