
.auth__main{
    width: 100%;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    // background: linear-gradient(360deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    // background-image: url('../../assets/fondo1.png') ;
    // background-color: $primary;
    background: linear-gradient(rgb(154, 215, 255) , $primary);

}    

.auth__container{
    border: 0px solid;
    border-radius: 6px;
    background-color: $light-gray;
    opacity: 0.95;
    max-width: 420px;
}

.auth__logo{
    width: 100px;;
}