
// Colors
$primary: #0277bd;
$dark-gray: #212121;
$light-gray: #fafafa;


$green:  #43a047; //success
$blue:   #1e88e5; //info
$yellow: #fdd835; //warning
$red:    #d32f2f; //errors


$header-height: 3rem;
$nav-width: 68px;
$first-color: #4723D9;
$first-color-light: #AFA5D9;
$white-color: #F7F6FB;
$body-font: 'Nunito', sans-serif;
$normal-font-size: 1rem;
$z-fixed: 100